
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4 p-4">
        <div class="card mb-3">
           <img src="assets/pcr.png" class="card-img-top" alt="Imagen del pcr">
           <div class="card-body">
             <h5 class="card-title">PCR</h5>
             <p class="card-text"></p>
             <button class="btn btn-primary" (click)="navegarApcrForm()">Entrar</button>
           </div>
        </div>
       </div>

      <div class="col-md-4 p-4">
        <div class="card mb-3">
           <img src="assets/cadenas.png" class="card-img-top" alt="Imagen de cadenas">
           <div class="card-body">
             <h5 class="card-title">Cadenas ADN</h5>
             <p class="card-text"></p>
             <button class="btn btn-primary"(click)="navegarACadenasDeAdn()">Entrar</button>
           </div>
        </div>
       </div>
    </div>


</div>





