
<div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    {{'PCR'}}
    <div>
      <button class="btn btn-success btn-spacing" [ngClass]="{'btn-secondary-custom': editing}" (click)="pcrs && (pcrs.hide = !pcrs.hide)">
        Show
      </button>

      <button class="btn btn-primary btn-spacing" [ngClass]="{'btn-cancel-red': editing}" (click)="toggleEdit()">
        {{ editing ? 'Cancel' : 'Edit' }}
      </button>
      <button *ngIf="editing" class="btn btn-success btn-spacing" (click)="saveChanges()">
        Save
      </button >

      <button *ngIf="!editing" class="btn btn-danger btn-spacing" (click)="deletePcr(pcrs!)">
        Delete
      </button>
    </div>
  </div>
  <div class="card-body" *ngIf="pcrs" [hidden]="pcrs.hide&&!editing">
    <span *ngIf="!editing">{{'Volumen Final:'}} {{pcrs.volumenFinal}}</span>  <br>
    <div *ngIf="editing">
      <label for="volumenFinal">Volumen Final:</label> <br>
      <input id="volumenFinal" type="text" [(ngModel)]="pcrs.volumenFinal" />
    </div>
    <span *ngIf="!editing">{{'Volumen DNA:'}} {{pcrs.volumenDNA}}</span> <br>
    <div *ngIf="editing">
      <label for="volumenDNA">Volumen DNA:</label> <br>
      <input id="volumenDNA" type="text" [(ngModel)]="pcrs.volumenDNA" />
    </div>
    <span *ngIf="!editing"> {{'Tubos de reacción:'}} {{pcrs.tubosDeReaccion}}</span> <br>
    <div *ngIf="editing">
      <label for="tubosDeReaccion">Tubos de reacción:</label>
      <input id="tubosDeReaccion" type="text" [(ngModel)]="pcrs.tubosDeReaccion" />
    </div>
    <span *ngIf="!editing"> {{'Concentración inicial Buffer:'}} {{pcrs.bufferConcentracionInicial}}</span> <br>
    <div *ngIf="editing">
      <label for="bufferConcentracionicial">Concentración inicial Buffer:</label>
      <input id="bufferConcentracionicial" type="text" [(ngModel)]="pcrs.bufferConcentracionInicial" />
    </div>
    <span *ngIf="!editing"> {{'Concentración final Buffer:'}} {{pcrs.bufferConcentracionFinal}}</span> <br>
    <div *ngIf="editing">
      <label for="bufferConcentracionFinal">Concentración final Buffer:</label>
      <input id="bufferConcentracionFinal" type="text" [(ngModel)]="pcrs.bufferConcentracionFinal" />
    </div>

    <span *ngIf="!editing"> {{'Concentración inicial primer Reverse:'}} {{pcrs.primerReverseConcentracionInicial}}</span> <br>
    <div *ngIf="editing">
      <label for="primerReverseConcentracionicial">Concentración inicial primer Reverse:</label>
      <input id="primerReverseConcentracionicial" type="text" [(ngModel)]="pcrs.primerReverseConcentracionInicial" />
    </div>
    <span *ngIf="!editing"> {{'Concentración final primer Reverse:'}} {{pcrs.primerReverseConcentracionFinal}}</span> <br>
    <div *ngIf="editing">
      <label for="primerReverseConcentracionFinal">Concentración final primer Reverse:</label>
      <input id="primerReverseConcentracionFinal" type="text" [(ngModel)]="pcrs.primerReverseConcentracionFinal" />
    </div>

    <span *ngIf="!editing"> {{'Concentración inicial primer Forward:'}} {{pcrs.primerForwardConcentracionInicial}}</span> <br>
    <div *ngIf="editing">
      <label for="primerForwardConcentracionicial">Concentración inicial primer Forward:</label>
      <input id="primerForwardConcentracionicial" type="text" [(ngModel)]="pcrs.primerForwardConcentracionInicial" />
    </div>
    <span *ngIf="!editing"> {{'Concentración final primer Forward:'}} {{pcrs.primerForwardConcentracionFinal}}</span> <br>
    <div *ngIf="editing">
      <label for="primerForwardConcentracionFinal">Concentración final primer Forward:</label>
      <input id="primerForwardConcentracionFinal" type="text" [(ngModel)]="pcrs.primerForwardConcentracionFinal" />
    </div>

    <span *ngIf="!editing">{{"Concentración inicial Dntps:"}} {{pcrs.dntpsConcentracionInicial}}</span> <br>
    <div *ngIf="editing">
      <label for="dntpsConcentracionicial">Concentración inicial Dntps:</label> <br>
      <input id="dntpsConcentracionicial" type="text" [(ngModel)]="pcrs.dntpsConcentracionInicial" />
    </div>
    <span *ngIf="!editing">{{'Concentración final Dntps:'}} {{pcrs.dntpsConcentracionFinal}}</span> <br>
    <div *ngIf="editing">
      <label for="dntpsConcentracionFinal">Concentración final Dntps:</label> <br>
      <input id="dntpsConcentracionFinal" type="text" [(ngModel)]="pcrs.dntpsConcentracionFinal" />
    </div>

    <span *ngIf="!editing">{{'Concentración inicial Polimerasa:'}} {{pcrs.polimerasaConcentracionInicial}}</span> <br>
    <div *ngIf="editing">
      <label for="polimerasaConcentracionicial">Concentración inicial Polimerasa:</label> <br>
      <input id="polimerasaConcentracionicial" type="text" [(ngModel)]="pcrs.polimerasaConcentracionInicial" />
    </div>
    <span *ngIf="!editing">{{'Concentración final Polimerasa:'}} {{pcrs.polimerasaConcentracionFinal}}</span> <br>
    <div *ngIf="editing">
      <label for="polimerasaConcentracionFinal">Concentración final Polimerasa:</label> <br>
      <input id="polimerasaConcentracionFinal" type="text" [(ngModel)]="pcrs.polimerasaConcentracionFinal" />
    </div>
    <br>

  </div>

  <div class="card-footer" *ngIf="pcrs" [hidden]="pcrs.hide&&!editing">

    <div *ngIf="volumenesIniciales.length > 0">
      <strong>Volumenes Iniciales por Reactivo</strong> <br>
          Buffer:{{volumenInicialBuffer}} <br>
          Magnesio:{{volumenInicialMagnesio}} <br>
          Primer Reverse: {{volumenInicialPrimerReverse}} <br>
          Primer Forward: {{volumenInicialPrimerForward}}  <br>
          Dntps: {{volumenInicialDntps}} <br>
          Polimerasa: {{volumenInicialPolimerasa}} <br>
          Agua: {{valorDelAgua}} <br><br>

      <strong>Valor del DNA</strong> <br>
          DNA: {{volumenDelDNA}} <br><br>

      <strong>Mix de reaccion para {{cantidadDeTubos}} tubos</strong> <br>
          Buffer: {{mixDeReaccionBuffer}} <br>
          Magnesio: {{mixDeReaccionMagnesio}} <br>
          Primer Reverse: {{mixDeReaccionPrimerReverse}} <br>
          Primer Forward: {{mixDeReaccionPrimerForward}} <br>
          Dntps: {{mixDeReaccionDntps}} <br>
          Polimerasa: {{mixDeReaccionPolimerasa}} <br>
          Agua: {{mixDeReaccionAgua}} <br><br>

      <strong> Por tubo : </strong> <p>{{cantidadTotalolumenesIniciales}} µl de mix de reacción + {{volumenDelDNA}} µl de DNA</p>
    </div>
    <br><br>
    <button class="btn btn-primary w-30" (click) = "todosLosCalculosEmpezandoPorLosVolumenesIniciales()" >Calculo</button>
  </div>


</div>






