<div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-9">
      <div class="card" >
         <form [formGroup]="pcrForm" (ngSubmit)="addPcrForm(volumenFinal, volumenDNA, tubosDeReaccion,
                                                            bufferConcentracionInicial, bufferConcentracionFinal, bufferVolumenFinal,
                                                            magnesioConcentracionInicial, magnesioConcentracionFinal, magnesioVolumenFinal,
                                                            primerReverseConcentracionInicial, primerReverseConcentracionFinal, primerReverseVolumenFinal,
                                                            primerForwardConcentracionInicial, primerForwardConcentracionFinal, primerForwardVolumenFinal,
                                                            dntpsConcentracionInicial, dntpsConcentracionFinal, dntpsVolumenFinal,
                                                            polimerasaConcentracionInicial, polimerasaConcentracionFinal, polimerasaVolumenFinal  )">
          <div class="form-group p-2">
            <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #volumenFinal> <br>
            <input type="number" class="form-control" placeholder="Ingrese el volumen DNA:" #volumenDNA> <br>
            <input type="number" class="form-control" placeholder="Ingrese la cantidad de tubos de reacción:" #tubosDeReaccion> <br>

                <mat-tab-group>

                  <mat-tab label="Buffer">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #bufferConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #bufferConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #bufferVolumenFinal> <br>
                    </div>
                  </mat-tab>

                  <mat-tab label="Magnesio">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #magnesioConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #magnesioConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #magnesioVolumenFinal> <br>
                    </div>
                  </mat-tab>

                  <mat-tab label="Primer Reverse">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #primerReverseConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #primerReverseConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #primerReverseVolumenFinal> <br>
                    </div>
                  </mat-tab>

                  <mat-tab label="Primer Forward">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #primerForwardConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #primerForwardConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #primerForwardVolumenFinal> <br>
                    </div>

                  </mat-tab>

                  <mat-tab label="DNTPS">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #dntpsConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #dntpsConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #dntpsVolumenFinal> <br>
                    </div>
                  </mat-tab>

                  <mat-tab label="Polimerasa">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Ingrese la concentración inicial:" #polimerasaConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Ingrese la concentración final:" #polimerasaConcentracionFinal> <br>
                      <input type="number" class="form-control" placeholder="Ingrese el volumen final:" #polimerasaVolumenFinal> <br>
                    </div>
                  </mat-tab>

                </mat-tab-group>

                <button class="btn btn-primary">Enviar</button>



            </div>
        </form>
      </div>
    </div >


    <div class="col-md-3">
      <app-list-pcrs></app-list-pcrs>
    </div>
  </div>

</div>
<a href="/" class="btn btn-dark" role="button" style="position: fixed; bottom: 0; left: 0;">Volver</a>
