<div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-8">
      <div class="card" >
         <form [formGroup]="pcrForm" (ngSubmit)="addPcrForm(volumenFinal, volumenDNA, tubosDeReaccion,
                                                            bufferConcentracionInicial, bufferConcentracionFinal,
                                                            magnesioConcentracionInicial, magnesioConcentracionFinal,
                                                            primerReverseConcentracionInicial, primerReverseConcentracionFinal,
                                                            primerForwardConcentracionInicial, primerForwardConcentracionFinal,
                                                            dntpsConcentracionInicial,  dntpsConcentracionFinal,
                                                            polimerasaConcentracionInicial, polimerasaConcentracionFinal )">
          <div class="form-group p-2">
            <input type="number" class="form-control" placeholder="Volumen de reacción:" #volumenFinal> <br>
            <input type="number" class="form-control" placeholder="Volumen DNA:" #volumenDNA> <br>
            <input type="number" class="form-control" placeholder="Tubos de reacción:" #tubosDeReaccion> <br>

                <mat-tab-group>

                  <mat-tab label="Buffer">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #bufferConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #bufferConcentracionFinal> <br>

                    </div>
                  </mat-tab>

                  <mat-tab label="Magnesio">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #magnesioConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #magnesioConcentracionFinal> <br>

                    </div>
                  </mat-tab>

                  <mat-tab label="Primer Reverse">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #primerReverseConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #primerReverseConcentracionFinal> <br>

                    </div>
                  </mat-tab>

                  <mat-tab label="Primer Forward">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #primerForwardConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #primerForwardConcentracionFinal> <br>

                    </div>

                  </mat-tab>

                  <mat-tab label="DNTPS">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #dntpsConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #dntpsConcentracionFinal> <br>

                    </div>
                  </mat-tab>

                  <mat-tab label="Polimerasa">
                    <div class="form-group p-2">
                      <input type="number" class="form-control" placeholder="Concentración inicial:" #polimerasaConcentracionInicial> <br>
                      <input type="number" class="form-control" placeholder="Concentración final:" #polimerasaConcentracionFinal> <br>

                    </div>
                  </mat-tab>

                </mat-tab-group>

                <button class="btn btn-primary">Enviar</button>



            </div>
        </form>
      </div>
    </div >


    <div class="col-md-4">
      <app-list-pcrs></app-list-pcrs>
    </div>
  </div>

</div>
<a href="/" class="btn btn-dark" role="button" style="position: fixed; bottom: 0; left: 0;">Volver</a>
