<!-- <div>
  <div class="container p-4">
    <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              {{'Cadena de ADN'}}
              <input type="text" class="form-control" id="inputCadenaADN" placeholder="Ingresar cadena de ADN" [(ngModel)]="cadena">


          </div>

          <div class="card-body" *ngIf="resultado !== undefined">
             {{resultado}}

            <br><br><br>
          <button class="btn btn-primary" (click)="acortarCadena()">Enviar</button>

          </div>

        </div>

      </div>
</div> -->
<!-- <a href="/" class="btn btn-dark" role="button" style="position: fixed; bottom: 0; left: 0;">Volver</a> -->

<div class="card">
  <div class="card-body">
    <form (submit)="addCadena(newTitle)">

      <div class="form-group p-2">
        <input type="text" class="form-control" placeholder="Ingresar cadena de ADN" #newTitle>
      </div>

      <div class="form-group p-2">
        <textarea cols="30" rows="10" class="form-control" placeholder="Resultado" #newDescription></textarea>
      </div>

      <button class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>

</div>
