<!-- LO QUE MEJOR SE VE HASTA AHORA -->

<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navegarApcrForm()" >PCR</button>
  <button mat-menu-item (click)="navegarACadenasDeAdn()" >Cadenas ADN</button>
</mat-menu>

<!-- LO QUE QUEIRA HACER PERO ESTABA MAL -->

<!-- <mat-sidenav-container>
  <mat-sidenav mode="over" fixedInViewport="true" fixedTopGap="64">Start</mat-sidenav>
  <mat-sidenav-content>
    <button mat-button (click)="navegarApcrForm()" >PCR</button>
    <button mat-button (click)="navegarACadenasDeAdn()" >Cadenas ADN</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- REVISAR!! -->

<!-- <mat-sidenav-container>
  <mat-sidenav mode="over" fixedInViewport="true" fixedTopGap="64">Start</mat-sidenav>
  <mat-sidenav-content>
     <button mat-button (click)="navegarApcrForm()" >PCR</button>
     <button mat-button (click)="navegarACadenasDeAdn()" >Cadenas ADN</button>
  </mat-sidenav-content>
 </mat-sidenav-container> -->



